
#title-block-header {
    border-bottom: 1.5px solid #8d8d8d;
    padding-bottom: 1rem;
}

.sidebar nav[role=doc-toc] ul>li>a.active, 
.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 1px solid #08519C;
    color: #08519C !important;
    font-weight: 400;
}

.sidebar nav[role=doc-toc] ul>li>a:hover, 
.sidebar nav[role=doc-toc] ul>li>ul>li>a:hover {
    color: #08519C !important;
}